/cmake-build-debug/src/CMakeFiles/main.dir/grocery_list.c.o.d
/cmake-build-debug/CMakeFiles/3.23.2/CompilerIdC/a.out
/cmake-build-debug/.cmake/api/v1/reply/cache-v2-540b00eb9dff69f28a59.json
/cmake-build-debug/src/CMakeFiles/main.dir/calculations.c.o.d
/cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-b75d607c3575f52c7a70.json
/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-400ae34dd65217ecd654.json
/cmake-build-debug/src/CMakeFiles/main.dir/compiler_depend.internal
/cmake-build-debug/src/CMakeFiles/main.dir/CreateMenu.c.o.d
/cmake-build-debug/src/CMakeFiles/main.dir/database.c.o.d
/cmake-build-debug/.cmake/api/v1/reply/index-2022-11-21T14-38-21-0770.json
/cmake-build-debug/src/CMakeFiles/main.dir/main.c.o.d
/cmake-build-debug/CMakeFiles/Makefile.cmake
/cmake-build-debug/CMakeFiles/Makefile2
/cmake-build-debug/src/CMakeFiles/main.dir/preferences.c.o.d
/cmake-build-debug/CMakeFiles/progress.marks
/cmake-build-debug/src/CMakeFiles/main.dir/sort_shopping_list.c.o.d
/cmake-build-debug/.cmake/api/v1/reply/target-main-Debug-3141c9f8cdf5cd8de899.json
/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-f7072d84e2deb5afc2b3.json
